//a tags
a {
   &:link {
      text-decoration: none;
      color: $color-black;
   }
   &:hover {
      text-decoration: underline;
   }
   &:visited {
      color: $color-black;
   }
}

//ul tags
ul {
   list-style-type: none;
   margin: 0px 10px;
   padding: 0;
   display: flex;
   li {
      margin: 0px 10px;
   }
}
.bg-light-gray {
   background-color: $color-gray-light;
   height: 70px;
   @include centerVertically;
}

.bg-white {
   background-color: $color-white;
}
.main-container {
   display: flex;
   justify-content: center;
  // height: calc(100vh - 50px);
   align-items: center;
   flex-direction: column;
   overflow-y: auto;
   //border: 2px solid seagreen;

}

input[type="submit"],button {
   margin: 10px;
   padding: 10px;
   border-radius: 10px;
   cursor: pointer;
   
   &:hover {
      color: $color-black;
      background-color: $color-white;
   }
}
